

* {
  font-family: 'Ubuntu', sans-serif;
       
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  color: white;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #353535;
}
form {
  color: white;
  position: absolute;
  left: 70%;
  top: auto;
}
button {
  background-color: rgb(172, 172, 172);
}
body{
  background-color: rgb(29, 29, 29)
  
}
input{
  background-color: lightgray;
}

#header {
  font-family: 'Bebas Neue', cursive;
  background-color:rgb(43, 43, 43);
  color: white;
  font-size:50px;
}
#books {
  font-size: 30px;
  margin: 20px;
}

.hasRead {
  background-color: rgb(0, 94, 0);
}
.notRead {
  background-color: rgb(117, 0, 0);
}